*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:sans-serif ;
}
.App{
 /*  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d1e8e0; */
}