.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../images/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.text-home{
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 30px; 
    color: white;
}
.welcome-text{
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
    color:  white;
    font-weight: bold;
}
.btn-load-data{
   padding: 10px 20px;
   border-radius: 5px;
   border: none;
   background-color: white;
   box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
   cursor: pointer;
   height: 40px;
}
.btn-load-data a{
    text-decoration: none;
    color: black;
}