.plots-container{

    /* height: 70vh;
    margin: 0 auto; */
    
}
p{
    
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
    color:  black;
    font-weight: bold;
}
.button-container{
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.btn-cargar {
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
    border: none;
    background-color: white;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
@media(max-width:507px){
    .button-container{
        width: 300px;
        
    } 
    .btn-pdf{
        position: absolute;
        bottom: 100px;
    }
}

.chart{
    background-color: white;
}
.legend{
    display: none;
}
.ccampo{
    color:#00E396 ;
}
.pmarchitez{
    color: red;
}
.jej{
    justify-content: center;
    width: 100%;
    height: 400px;
}

.carousel-dark .carousel-indicators {
 display: none;
}
.colors{
    display: flex;
    justify-content: center;
    
}
.baja{
    width: 20px;
    height: 20px;
    background-color: #FFCCCC;
    border-radius: 20%;
}
.media{
    width: 20px;
    height: 20px;
    background-color: #F4E5D2;
    border-radius: 20%;
}
.alta{
    width: 20px;
    height: 20px;
    background-color: #DFF6F9;
    border-radius: 20%;
}

