.plots-container{

    /* height: 70vh;
    margin: 0 auto; */
    
}
p{
    
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
    color:  black;
    font-weight: bold;
}
.button-container{
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.btn-cargar {
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
    border: none;
    background-color: white;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
@media(max-width:507px){
    .button-container{
        width: 300px;
        
    } 
    .btn-pdf{
        position: absolute;
        bottom: 100px;
    }
}

.chart{
    background-color: white;
}
